@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Press+Start+2P&display=swap");

@font-face {
  font-family: "retrogam";
  src: url("./fonts/retrogam.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "upheavel";
  src: url("./fonts/upheavel.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "alstoria";
  src: url("./fonts/alstoria.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "start2p";
  src: url("./fonts/PressStart2P.ttf");
  font-style: normal;
  font-weight: normal;
}

/*
:root {
  --white: #fefffe;
  --lgray: #bebfbe;
  --gray: #7f7e7e;
  --dgray: #414140;
  --black: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #fefffe;
    --lgray: #bebfbe;
    --gray: #7f7e7e;
    --dgray: #414140;
    --black: #000000;
  }
}
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "retrogam";
  font-size: 18px;
}

body::-webkit-scrollbar {
  display: none;
}

.darksoul {
  background-image: url("./resources/bgo.png");
  background-blend-mode: overlay;
  background-size: cove;
  background-position: center;
  background-attachment: fixed;
}

.wafall {
  background-image: url("./resources/bg2.png");
  background-blend-mode: overlay;
  background-size: cove;
  background-position: center;
  background-attachment: fixed;
}

.bwell {
  background-image: url("./resources/bg1.png");
  background-blend-mode: overlay;
  background-size: cove;
  background-position: center;
  background-attachment: fixed;
}

.temple {
  background-image: url("./resources/bg3.jpg");
  background-blend-mode: overlay;
  background-size: cove;
  background-position: center;
  background-attachment: fixed;
}
